@define-color foreground #e7e9ea;
@define-color background #000000;

* {
  background-color: @background;
  color: @foreground;
  font-family: JetBrainsMono Nerd Font;
  font-size: 1rem;
  font-weight: normal;
}

#workspaces button.active {
    border-bottom: 1px solid @foreground;
}
